body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-inline: 10%;
    align-content: space-between;
    border: 1px solid black;
    padding: 0.5%;
    flex-wrap: wrap;
}

body,
.invalid {
    border-radius: 1px;

}

form,
aside {
    flex-basis: 45%;
    padding: 1%;
    box-sizing: border-box;
    margin-left: 1%;
}

form {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img {
    max-height: 600px;
    max-width: 600px;
}

.sumit-button {
    display: flex;
    justify-content: flex-end;

}

.invalid {
    border: 1px solid red;
}

button {
    background-color: rgb(64, 160, 181);
    border-radius: 3px;
    border-color: rgb(64, 160, 181);
    color: white;
}

input,
label,
textarea,
button {
    padding: 1%;
    margin-bottom: 10px;
}

.gender {
    padding-left: 30%;
}

input[type="text"],
textarea,
.confirmation-banner,
.error-gender {
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

.confirmation-banner {
    display: none;
    background-color: rgb(194, 219, 196);
    padding: 6px;
    color: rgb(47, 101, 47);
}

.error-gender {
    display: none;
    background-color: rgb(184, 110, 110);
    padding: 6px;
    color: rgb(255, 255, 255);
}


i,
.close-button {
    padding-left: 2%;
}

.confirmation-text,
.close-button {
    display: inline;
}

.close-button {
    float: right;
}